.expense-form {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.subform {
    margin-bottom: 20px;
}

.input-field,
.select-field { 
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.expense-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.expense-btn:hover {
    background-color: #45a049;
}




.expense-list {
  margin-top: 20px;
}

.expense-item {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(46, 45, 45);
}

.expense-item p {
  margin: 5px 0;
  color:white
}

.expense-item button{
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.expense-item button:hover {
  background-color: #ff4839;
}
